@model  List<IntSchl_BOL.Models.blog>
@{
    ViewBag.Title = "allBlogs";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> All Blogs</a>
            </li>
        </ul>
    </div>
    <div class="sb2-2-1">
        <h2>All Blog Posts</h2>
        <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Categories</th>
                    <th>Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                @{
                        int count = 0;
                        foreach (var item in Model)
                        {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.heading</td>
                            <td>@item.categoryname</td>
                            <td>@item.postdate</td>
                            <td>
                                <a onclick="return onClickDelete(event, this);" data-emid="@item.id" class="sb2-2-1-edit"><i class=" fa fa-trash-o" aria-hidden="true"></i></a>
                            </td>
                            <td>
                                <a href="@Url.Action("updateBlog","Admin", new { stID = item.id })" class="sb2-2-1-edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    }}

            </tbody>
        </table>
    </div>
</div>


        


