@model List<IntSchl_BOL.Models.Contact>
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="/Admin/index"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> All Contact</a>
            </li>
        </ul>
    </div>
    <div class="sb2-2-1">
        <h2>All Contact US</h2>
        
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>message</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                @{
                    int count = 0;
                    foreach (var item in Model)
                    {
                        count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.name</td>
                                    <td>@item.email</td>
                                    <td>@item.phone</td>
                                    <td>@item.cmessage</td>

                                    <td>
                                        <a onclick="return onClickContactDelete(event, this);" data-emid="@item.id" class="sb2-2-1-edit"><i class=" fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                    @*<td>
                                        <a onclick="return onClickContactDelete(event, this);" data-emid="@item.id" class="sb2-2-1-edit"><i class=" fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>*@
                                </tr>
                    }}

            </tbody>
        </table>
    </div>
</div>

